ul.nav.nav-pills.nav-stacked
	each route in controller.routes
		- var clazz = path === route.path ? "active" : "";

		li(class = clazz)
			a(href = route.path)
				i(class = "#{route.icon}")
				| &nbsp; #{route.title}
