extend layout

block content
	div.hero-unit
		h1 Yay
		p
			|Some text
			|and some more text.
			
		a.btn.btn-primary.btn-large
			|LEARN MOAR

block sidebar
	ul.nav.nav-tabs.nav-stacked
		li.active
			a Home
		li
			a Featured Events
		li
			a All Events
		li
			a Blog
