doctype 5

html
  head
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.css")

  body
    .div.container-fluid
      div.page-header
        h1 #{page.title}&nbsp;
          small #{page.subtitle}

      .div.row-fluid
        .div.span2
          block sidebar
        .div.span10
          block content
